* {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

body {
    background-color: whitesmoke;
    /*background-color: beige;*/
}

#logo {
    margin-left: 83px;
}

.menu {
    display: flex;
    padding: 0;
}

#monthAndYear {
    font-size: x-large;
    display: inline-block;
}

.schedule-btn {
    --outline: 2px solid black;
    border: 2px solid var(--clr);
    background: var(--clr);
    color: black;
    outline: var(--outline);
    transition: outline-offset 200ms ease;
    width: 60px;
    height: 50px;
}

.schedule-btn:hover {
    --outline: 2px solid white;
    background-color: rgb(2, 63, 15);
    color: white;
}

.schedule-btn:focus {
    outline: var(--outline);
    outline-offset: -6px;
}

#schedule-container {
    padding-top: 20px;
}

.week-header {
    background-color: #349a46;
    color: white;
    font-weight: bold;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* padding: 25px; */
    height: 80px;
}

.col {
    border: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 7px 10px 0px 2px rgb(2, 63, 15);
}

.col:hover {
    background-color: #052904;
    color: #fffcff;
}

.circle {
    background: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    align-self: flex-end;
    /* margin: 0.5px; */
    margin: auto;
    position: relative;

}

#table {
    margin: 0;
    overflow-x: auto;
}


#schedule-dialog {
    display: flex !important;
    justify-content: center;
    align-items: center;
    max-width: 54rem;
}

.day-marker {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}


/* IDEIAS: Colocaria o vermelho (do IF) em coisas importantes como alertas e lembretes;
        Usar menos cores e mais tons que combinem entre sí;
        Fundos claros e confortáveis mas não o branco chapado porque também pode incomodar a visão;
        Geralmente os calendários tem cores mais pastéis e claras para serem mais confortáveis;
        
        Se quiserem se complicar mais no final quando tiverem tudo ponto, seria interessante ter
        uma versão padrão e uma noturna.*/
.gg-info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px;
    color: white;
    background-color: #349a46;
}

.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px
}

.gg-info::after {
    bottom: 2px;
    height: 8px
}

.gg-info::before {
    height: 2px;
    top: 2px
}

.gg-info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px
}

.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px
}

.gg-info::after {
    bottom: 2px;
    height: 8px
}

.gg-info::before {
    height: 2px;
    top: 2px
}

ul a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    color: black;
}

li {
    float: left;
}

.nav-link {
    font-size: 20px;
    display: block;
    color: #349a46;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    opacity: 70%;
    color: grey;

}

.gg-menu {
    transform: scale(var(--ggs, 1))
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}

.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}

.gg-menu::after {
    top: 6px
}

.btn {
    /* background-color: #349a46; */
    font-weight: bold;
    border: none;
}

.btn:hover {
    background-color: #052904;
    color: white;
    font-weight: bold;
}