* {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

body {
    background-color: beige;
}

/* opcs de cor: azure, aliceblue e beige  */

#month {
    align-items: center;
    display: flex;
}

#monthAndYear {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
    font-size: x-large;
    display: inline-block;
}

#title {
    text-align: center;
    font-size: xx-large;
}

#next, #previous, #title {
    margin-top: 0;
    margin-bottom: 0;
}

.col {
    background-color: #fffcff;
    justify-content: center;
    display: flex;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 40px;
    width: 50px;
    box-shadow: 7px 10px 0px 2px rgb(2, 63, 15);
}

.col:hover{
    background-color:#052904 ; color: #fffcff;
}

/* op2 background-color:083806*/

#schedule-container {
    margin-top: 15px;
}

.row {
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn {
    padding: 1.2%;
    margin: auto;
    background-color: #007bffe1;
    font-size: 30px;
    width: 70px;
    height: 80px;
    display: inline-block;
    text-align: center;
    border: 2px solid;
    border-radius: 10%;
    text-transform: none;
    font-family: inherit;
}

.btn:hover{
    background-color: rgb(2, 63, 15); color: white;
}

.btn-3 {
    --outline: 2px solid black;
    border: 2px solid var(--clr);
    background: var(--clr);
    color: black;
    outline: var(--outline);
    transition: outline-offset 200ms ease;
  }

.btn-3:hover {
    --outline: 2px solid white;
}
.btn-3:focus {
  outline: var(--outline);
  outline-offset: -6px;
}

/* IDEIAS: Colocaria o vermelho (do IF) em coisas importantes como alertas e lembretes;
        Usar menos cores e mais tons que combinem entre sí;
        Fundos claros e confortáveis mas não o branco chapado porque também pode incomodar a visão;
        Geralmente os calendários tem cores mais pastéis e claras para serem mais confortáveis;
        
        Se quiserem se complicar mais no final quando tiverem tudo ponto, seria interessante ter
        uma versão padrão e uma noturna.*/