* {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#month {
    justify-content: center;
    display: flex!important;
}

#monthAndYear {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
    font-size: x-large;
    display: inline-block;
}

#title {
    text-align: center;
    font-size: xx-large;
}

#next, #previous, #title {
    margin-top: 0;
    margin-bottom: 0;
}

.col {background-color: #fffcff;
    justify-content: center;
    display: flex;
    border: solid;
    border-width: 2px;
    border-color: black;
    padding: 40px;
    width: 50px;
    box-shadow: 7px 10px #007bffe1;
}

.col:hover{
    background-color:#F0812B ; color: #fffcff;
}

#schedule-container {
    margin-top: 15px;
}

.row {
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn {
    padding: 1.2%;
    margin: auto;
    color: white;
    background-color: #007bffe1;
    font-size: 30px;
    width: 70px;
    height: 80px;
    display: inline-block;
    text-align: center;
    border: 2px solid;
    border-radius: 10%;
    text-transform: none;
    font-family: inherit;
}

.btn:hover{
    background-color: #F0812B;color: white;
}

.modal-window {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #007bffe1;
    color: #fffcff;
    padding: 5%;

}

#addModalTitle{
    width: 10%;
    color: #F0812B;
}

.h11RHc {
    background: #ea4335;
    text-align: center;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

body{
    background-image: linear-gradient(to right, rgba(70,130,180), rgba(244,164,96));
}

.btn-3 {
    --outline: 2px solid white;
    border: 2px solid var(--clr);
    background: var(--clr);
    color: white;
    outline: var(--outline);
    transition: outline-offset 200ms ease;
  }

.btn-3:hover,
.btn-3:focus {
  outline: var(--outline);
  outline-offset: -6px;
}