<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classrooms operations</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <h2>Test get operation</h2>
    <div id="get-classrooms">
        <table>
            <thead>
                <tr><th>id</th><th>name</th></tr>
            </thead>
            <tbody id="classrooms-table">
                <!--Content goes here-->
            </tbody>
        </table>
        <button id="get-classrooms-button">Get classrooms</button>
    </div>
    
    <br><br><br>
    <h2>Test post operation</h2>
    
    <div id="post-classroom">
        <form onsubmit="return false;">
            <div>
                <label for="name">Name: </label>
                <input id="name" type="text">
            </div>

            <button id="post-classroom-button">Submit</button>
        </form>
    </div>

    <br><br><br>
    <h2>Test delete operation</h2>

    <div id="delete-classroom">
        <form onsubmit="return false;">
            <div>
                <label for="classroomId">Classroom id: </label>
                <input type="number" id="classroomId">
            </div>

            <button id="delete-classroom-button">Submit</button>
        </form>
    </div>

    <br><br><br>
    <h2>Test update operation</h2>

    <div id="update-classroom">
        <form onsubmit="return false;">
            <div>
                <label for="classroomIdUpdate">Classroom id: </label>
                <input type="number" id="classroomIdUpdate">
            </div>

            <div>
                <label for="nameUpdate">Name: </label>
                <input id="nameUpdate" type="text">
            </div>

            <button id="update-classroom-button">Submit</button>
        </form>
    </div>

    <a href="http://localhost:8080/">Pagina inicial</a>

    <script type="text/javascript" src="/js/classrooms.js"></script>
    
</body>
</html>