<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipments operations</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <h2>Test get operation</h2>
    <div id="get-equipments">
        <table>
            <thead>
                <tr><th>id</th><th>name</th><th>description</th><th>quantity</th></tr>
            </thead>
            <tbody id="equipments-table">
                <!--Content goes here-->
            </tbody>
        </table>
        <button id="get-equipments-button">Get equipments</button>
    </div>

    <br><br><br>
    <h2>Test post operation</h2>
    
    <div id="post-equipments">
        <form onsubmit="return false;">
            <div>
                <label for="name">Name: </label>
                <input id="name" type="text">
            </div>

            <div>    
                <label for="description">Description: </label>
                <input id="description" type="text">
            </div>

            <div>
                <label for="quantity">Quantity: </label>
                <input id="quantity" type="number">
            </div>

            <button id="post-equipment-button">Submit</button>
        </form>
    </div>

    <br><br><br>
    <h2>Test delete operation</h2>

    <div id="delete-equipment">
        <form onsubmit="return false;">
            <div>
                <label for="equipmentId">Equipment id: </label>
                <input type="number" id="equipmentId">
            </div>

            <button id="delete-equipment-button">Submit</button>
        </form>
    </div>

    <br><br><br>
    <h2>Test post operation</h2>

    <div id="update-equipment">
        <form onsubmit="return false;">
            <div>
                <label for="equipmentIdUpdate">Equipment id: </label>
                <input type="number" id="equipmentIdUpdate">
            </div>

            <div>
                <label for="nameUpdate">Name: </label>
                <input id="nameUpdate" type="text">
            </div>

            <div>    
                <label for="descriptionUpdate">Description: </label>
                <input id="descriptionUpdate" type="text">
            </div>

            <div>
                <label for="quantityUpdate">Quantity: </label>
                <input id="quantityUpdate" type="number">
            </div>

            <button id="update-equipment-button">Submit</button>
        </form>
    </div>

    <a href="http://191.52.6.227:8080/">Pagina inicial</a>

    <script type="text/javascript" src="/js/equipments.js"></script>
</body>
</html>