<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>Wellcome!</h1>

    <div id="operations">
        <a href="http://localhost:8080/mainPage">mainPage</a><br>
        <a href="http://localhost:8080/login-page">Login</a><br>
        <a href="http://localhost:8080/signIn-page">Sign In</a>
    </div>
    
    <script type="text/javascript" src="/js/main.js"></script>
    
</body>
</html>