<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>

<body>
    <div id="main-container">
        <div id="title">Schedule</div>

        <div id="month">
            <button class="btn" id="previous" onclick="previous()">&lt</button>
            <p id="monthAndYear" class="d-inline-block">Month</p>
            <button class="btn" id="next" onclick="next()">&gt</button>
        </div>

        <div id="schedule-container">
            <div class="row">
                <div class="col">Dom</div>
                <div class="col">Seg</div>
                <div class="col">Ter</div>
                <div class="col">Qua</div>
                <div class="col">Qui</div>
                <div class="col">Sex</div>
                <div class="col">Sab</div>
            </div>
            <div id="calendar">
                <!--Content goes here-->
            </div>
        </div>

    </div>

    <button id="showModal" onclick="showmodal()">show modal</button>

    <!--Janela modal-->
    <div class="modal-window" id="listOfSchedulingsPerDay">
        <div class="modal">
            <div class="modal-header">
                <div id="close-button" onclick="hidemodal()">X</div>
            </div>
            <div class="modal-body" id="listOfSchedulingsBody">

            </div>
            <div class="modal-footer">
                <button class="btn" onclick="hidemodal()">Close</button>
                <button class="btn">Add new</button>
            </div>
        </div>
    </div>


    

    <script type="text/javascript" src="../static/js/schedule.js"></script>
</body>

</html>