<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedulings operations</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <h2>Test get operation</h2>
    <div id="get-schedulings">
        <table>
            <thead>
                <tr><th>id</th><th>initial date</th><th>final date</th><th>teacher id</th><th>classroom id</th><th>class id</th><th>equipment id</th></tr>
            </thead>
            <tbody id="schedulings-table">
                <!--Content goes here-->
            </tbody>
        </table>
        <button id="get-schedulings-button">Get schedulings</button>
    </div>

    <br><br><br>
    <h2>Test post operation</h2>
    
    <div id="post-schedulings">
        <form onsubmit="return false;">
            
            <div>
                <label for="initialDate">Initial date: </label>
                <input type="date" id="initialDate">
                <label for="initialHour">Initial hour: </label>
                <input type="time" id="initialHour">
            </div>

            <div>
                <label for="finalDate">Final date: </label>
                <input type="date" id="finalDate">
                <label for="finalHour">Final hour: </label>
                <input type="time" id="finalHour">
            </div>

            <div>
                <label for="teacherId">Teacher id: </label>
                <input type="number" id="teacherId">
            </div>

            <div>
                <label for="classroomId">Classroom id: </label>
                <input type="number" id="classroomId">
            </div>

            <div>
                <label for="classId">Class id: </label>
                <input type="number" id="classId">
            </div>

            <div>
                <label for="equipmentsId">Equipments id (separate with space): </label>
                <input type="text" id="equipmentsId">
            </div>

            <button id="post-scheduling-button">Submit</button>
        </form>
    </div>

    <br><br><br>
    <h2>Test delete operation</h2>

    <div id="delete-scheduling">
        <form onsubmit="return false;">
            <div>
                <label for="schedulingId">Scheduling id: </label>
                <input type="number" id="schedulingId">
            </div>

            <button id="delete-scheduling-button">Submit</button>
        </form>
    </div>

    <br><br><br>
    <h2>Test update operation</h2>

    <div id="update-scheduling">
        <form onsubmit="return false;">
            <div>
                <label for="schedulingIdUpdate">Scheduling id: </label>
                <input type="number" id="schedulingIdUpdate">
            </div>

            <div>
                <label for="initialDateUpdate">Initial date: </label>
                <input type="date" id="initialDateUpdate">
                <label for="initialHourUpdate">Initial hour: </label>
                <input type="time" id="initialHourUpdate">
            </div>

            <div>
                <label for="finalDateUpdate">Final date: </label>
                <input type="date" id="finalDateUpdate">
                <label for="finalHourUpdate">Final hour: </label>
                <input type="time" id="finalHourUpdate">
            </div>

            <div>
                <label for="teacherIdUpdate">Teacher id: </label>
                <input type="number" id="teacherIdUpdate">
            </div>

            <div>
                <label for="classroomIdUpdate">Classroom id: </label>
                <input type="number" id="classroomIdUpdate">
            </div>

            <div>
                <label for="equipmentsIdUpdate">Equipments id (separate with space): </label>
                <input type="text" id="equipmentsIdUpdate">
            </div>

            <button id="update-scheduling-button">Submit</button>
        </form>
    </div>

    <a href="http://localhost:8080/">Pagina inicial</a>


    <script type="text/javascript" src="/js/scheduling.js"></script>
    
</body>
</html>